version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "05:30"
    timezone: Europe/London
  reviewers:
    - "martincostello"
- package-ecosystem: "npm"
  directory: "/"
  groups:
    eslint:
      patterns:
        - "@eslint/*"
        - "eslint"
    typescript-eslint:
      patterns:
        - "@typescript-eslint/*"
  schedule:
    interval: "daily"
    time: "05:30"
    timezone: Europe/London
  reviewers:
    - "martincostello"
  open-pull-requests-limit: 99
